:root {
  --main-color: #231F20;
  --text-color: #fff;
}

body.dark-home-body {
  background-color: var(--main-color);
  color: #fff;
}

img {
  border-radius: 1rem;
}

.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.header h1{
  font-size: 50px;
  color: #fff;
}

.header p {
  font-size: 50px;
  margin-bottom: 1rem;
}

.header .clock {
  text-align: center;
}

.header .clock p{
  font-size: 30px;
}

.header .clock span{
  font-size: 10px;
  font-weight: 700;
  color: #fff;
}

.main {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.year {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.year span {
  font-size: 15px;
  text-decoration: underline;
  font-weight: 700;
  color: #fff;
}

/* Mobile */

@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .clock {
    margin-top: -7rem;
    margin-bottom: -1rem;
  }

  .pinkhome_container .main {
    display: none;
  }

  .mobile_alert {
    display: block;
    margin-top: 1rem;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
}