
body.pink-home-body {
  background-color: #f0eeee;
  color: #F69AA0;
}

.pink-arrow {
  color: pink;
}

.pink-home-body p {
  color: #F69AA0;
}

img {
  border-radius: 1rem;
}

.pinkhome_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pinkhome_container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.pinkhome_container .header h1{
  font-size: 50px;
}

.pinkhome_container .header p {
  font-size: 50px;
  margin-bottom: 1rem;
}

.pinkhome_container .header .clock span{
  font-size: 10px;
  font-weight: 700;
}

.pinkhome_container .main {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.pinkhome_container .year {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pinkhome_container .year span {
  font-size: 15px;
  text-decoration: underline;
}

.home_container .main p {
  color: var(--text-color);
}